.movie-card {
  display: inline-block;
}

.movie-card-title {
  color: #030c61;
  font-family: 'Bangers', cursive;
  font-size: 2em;
  padding-bottom: 0.5em;
}

.movie-links {
  font-family: 'Bangers', cursive;
  font-size: 1.3em;
  color: #030c61;
  margin-bottom: 0.3em;
}

.movie-card-director {
  float: left;
  margin-left: 2em;
}


.movie-card-genre {
  float: right;
  margin-right: 2em;
}

@media all and (max-width: 750px) {
  .movie-links {
    font-size: 1em;
    margin: 0;
  }

  .movie-card-director {
    margin-top: 5em;
  }

}