.movie-view-container{
  margin-top: 8em;
}

.movie-view {
  margin: 0 auto;
}

.movie-container {
  margin: 50px;
}

.movie-view-title {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  padding-bottom: 0.5em;
}

.movie-view-links {
  display: inline-block;
  margin: 0.3em;
}

.movie-view-back {
  float: right;
}

.movie-view-text {
  padding-bottom: 0.6em;
}

.movie-view-heading {
  text-align: left;
  color: #000000;
  font-size: 1em;
}

@media all and (max-width: 750px) {
  .movie-view-card {
    width: 80%;
  }
}