$primarycolor: #ffffff;
$secondarycolor: #000000;
$tertiarycolor: #030c61;

.registration-view {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  padding-top: 2em;
  color: $primarycolor;
}

.registration-form {
  margin: 0 auto;
  text-align: left;
  max-width: 600px;
  padding: 50px;
}

.registration-item {
  margin: 20px;
}

.register-footer {
  text-align: center;
}

.button {
  margin: 20px;
  width: 150px;
}